name: Application
on:
  workflow_call:
    inputs:
      jobname:
        type: string
        required: false
        description: 'A jobname passed from the caller workflow'
        default: 'application'
  pull_request:
    paths:
    # Build
    - 'Makefile'
    - '.aqua.yaml'
    # GoReleaser
    - '.goreleaser.yml'
    # GitHub Actions
    - '.github/workflows/application.yml'
    # Go
    - '**.go'
    - 'go.mod'
    - 'go.sum'
permissions:
  contents: write
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || inputs.jobname }}
  cancel-in-progress: true
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
    ################################################################################
    # Checkout
    ################################################################################
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: ${{ startsWith(github.ref, 'refs/tags/') && '0' || '1' }}
    ################################################################################
    # Setup Aqua
    ################################################################################
    - name: Setup Aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.5
        aqua_opts: --exclude-tags golang
    ################################################################################
    # Setup Go
    ################################################################################
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
    ################################################################################
    # Go
    ################################################################################
    - name: Go Mod Download
      run: go mod download
    - name: Go Mod Tidy
      run: go mod tidy
    - name: Go Tools
      run: make tools
    - name: Go Generate
      run: make generate
    - name: Go Vet
      run: make vet
    - name: Go Lint
      run: make lint
    - name: Go Sec
      run: make sec
    - name: Go Test
      run: make test
    - name: Go Build
      run: make build
    ################################################################################
    # GoReleaser
    ################################################################################
    - name: GoReleaser (${{ startsWith(github.ref, 'refs/tags/') && 'Release' || 'Snapshot' }})
      run: make ${{ startsWith(github.ref, 'refs/tags/') && 'release' || 'snapshot' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    ################################################################################
    # Artifact
    ################################################################################
    - name: Artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: Artifacts
        path: |-
          dist/*.tar.gz
          dist/*.zip
          dist/*.txt
